*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# non-code documents
*.odt
*.pdf

#images
*.png

#javalib package files
javalib/*

#java autosave files
*.java~

# Package Files #
*.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
